img {
  background-color: white;
  width: 30px;
  height: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 500;
  color: palevioletred;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1 {
  font-size: 80px;
  font-weight: 500;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 900px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 25px;
}
.contact-details {
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.contact-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
}
.contact-right input {
  border: none;
  width: 500px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-right textarea {
  width: 470px;
  border: none;
  height: 100px;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit {
  position: relative;
  left: 300px;
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 20px 60px;
  margin: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .contact-tile img {
    width: 130px;
    margin-right: -20px;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 54px;
  }
  .contact-left p {
    font-size: 18px;
  }
  .contact-detail {
    gap: 20px;
  }
  .contact-detail img {
    width: 25px;
  }
  .contact-right label {
    font-size: 20px;
  }
  .contact-right input {
    width: 100%;
    font-size: 20px;
  }
  .contact-right textarea {
    width: 95%;
    font-size: 20px;
  }
  .contact-submit {
    font-size: 20px;
    padding: 15px 40px;
    left: 75px;
  }
}
