.profile img {
  margin-top: 120px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.profile h1 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile p {
  width: 50%;
  text-align: center;
  font-size: 22px;
}
.profile-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.profile-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.profile-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.profile-connect:hover {
  border: 2px solid #fff;
}
.profile-resume:hover {
  border-color: #b415ff;
}
@media (max-width: 768px) {
  .profile img {
    margin-top: 120px;
    width: 300px;
    border-radius: 100px;
  }
  .profile h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .profile p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .profile-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .profile-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .profile-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
